.div-btn-propos {
  width: 80%;
  margin: 50px auto;
  button {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .div-btn-propos {
    width: 100%;
    button {
      font-size: 18px;
    }
  }
}

@media (max-width: 375px) {
  .div-btn-propos {
    width: 100%;
    button {
      font-size: 13px;
    }
  }
  .image-home {
    height: 111px;
    border-radius: 10px;
  }
}
