.titre-description {
  background-color: #ff6060;
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: none;
  font-size: 18px;
  width: 100%;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
}
.logement-div-trois {
  width: 100%;
}
.chevron-icon {
  margin-left: 8px;
  transition: transform 0.5s;
}

.rotate {
  transform: rotate(180deg);
}

.text-description {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s ease;
  transform: translateY(0px);
  margin: 0px auto;
  background: var(--Gray, #f6f6f673);
  padding: 20px;
  color: black;
  line-height: 142.6%;
  li {
    list-style: none;
  }
}

.text-description.show {
  max-height: 100%;
  opacity: 1;
  transform: translateY(0px);
}

@media (max-width: 375px) {
  .titre-description {
    font-size: 13px;
  }
}
