.card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.01);
  }
}
.card-image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 1150px) {
  .card {
    margin: auto;
    width: 400px !important;
    height: 220px !important;
  }
}
@media (max-width: 975px) {
  .card {
    margin: auto;
    width: 80% !important;
    height: 80% !important;
    border-bottom: 1px solid #ef4444;
  }
}
