.card-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 475px;
  height: 258px;
  h2 {
    width: 100%;
    margin-bottom: 25px;
    font-size: 20px;
  }
  h3 {
    width: 100%;
    margin-top: 25px;
  }
  p {
    width: 100%;
  }
  .note {
    font-style: italic;
  }
}

@media (max-width: 1150px) {
  .card-description {
    width: 400px;
    height: 220px;
  }
}
@media (max-width: 975px) {
  .card-description {
    width: 80%;
    height: 80%;
    margin-bottom: 50px;
  }
}
