footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 60px;
  gap: 30px;
  margin: 0;
}
footer p {
  font-weight: 500;
  color: white;
  text-align: center;
}

@media (max-width: 375px) {
  footer p {
    font-size: 12px;
  }
}
