.home-container {
  width: 85%;
  margin: auto;
  gap: 30px;
  border: 1px solid red;
}

.contact-wrapper {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-top: 80px;
  padding-bottom: 0px;
  img {
    margin-top: 180px;
    width: 30%;
  }
}
.contact-link {
  width: 70%;
  margin: 0px auto;
  font-size: 18px;
  color: #ef4444;
  font-weight: bold;
  text-decoration: none;
}
@media (max-width: 1640px) {
  .contact-wrapper {
    width: 85%;
  }
}
@media (max-width: 1350px) {
  .contact-wrapper {
    width: 100%;
  }
}
@media (max-width: 970px) {
  .home-container {
    width: 95%;
  }
}
@media (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
    img {
      margin-top: 0px;
    }
  }
}
