.skills-wrapper {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
  margin-top: 80px;
}
.skills-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  .skills-text-diplome {
    width: 100%;
  }
  .skills-text-experiences {
    width: 100%;
  }
  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 50px;
    width: 100%;
  }
  ul {
    list-style: none;
    margin: 10px auto;
  }
  ul svg {
    font-size: 38px;
    width: 42px;
    margin: 18px auto;
  }
  .sous-text {
    width: 100%;
    font-size: 14px;
    color: gray !important;
  }
}
.test {
  display: flex;
  align-items: center;
  margin: 10px auto;
  svg {
    font-size: 38px;
  }
}
.skills-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  width: 40%;
  gap: 20px;
  img {
    width: 80px !important;
    height: 80px !important;
    &:hover {
      opacity: 0.8;
    }
  }
  .rotate {
    animation: rotate360 8s linear infinite;
    border-radius: 50%;
  }
  @keyframes rotate360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@media (max-width: 1640px) {
  .skills-wrapper {
    width: 85%;
  }
}
@media (max-width: 1350px) {
  .skills-wrapper {
    width: 100%;
  }
}
@media (max-width: 1150px) {
  .skills-wrapper {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .skills-container {
    justify-content: center;
    width: 100%;
    padding: 0;
  }
  .skills-text {
    width: 100%;
    flex-direction: row;
    align-items: start;
    justify-content: center;
  }
}
@media (max-width: 975px) {
  .skills-container {
    justify-content: center;
    width: 80%;
    padding: 0;
    margin-bottom: 30px;
  }
  .skills-text {
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 425px) {
  .skills-container {
    img {
      width: 50px !important;
      height: 50px !important;
    }
  }
}
